<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center"><span style="font-weight:100; font-style:italic;">POOL</span></a>
    </div>
  </nav>
        
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    {% block extrascript %}{% endblock %}
  </body>
</html>