{% extends "base.html" %}

{% block content %}
<form id="create-form" action="." method="post">
{% csrf_token %}

<div class="row">
    <div class="col s12">
        <h1 style="font-weight:400;width:100%;">Create an account</h1>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h4 style="font-weight:200;width:100%;">Who are you?</h4>
    </div>
    <div class="input-field col s12 m6">
      <input value="" name="first_name" type="text" length="100">
      <label class="active" for="first_name">First name</label>
    </div>
    <div class="input-field col s12 m6">
      <input value="" name="last_name" type="text" length="100">
      <label class="active" for="last_name">Last name</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12 m6">
      <input value="" name="phone_number" type="text">
      <label class="active" for="phone_number">Phone number</label>
    </div>
    <div class="input-field col s12 m6">
      <input value="" name="email_address" type="email">
      <label class="active" for="email">Email address</label>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <label>Company</label>
        <select class="browser-default" name="organization_id">
          <option value="" disabled selected></option>
          {% for o in organizations %}
          <option value="{{ o.id }}">{{ o.organization_name }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="col s12 m6">
        <label>Contact preference?</label>
        <select class="browser-default" name="preferred_contact">
          <option value="t">Text</option>
          <option value="e" selected>Email</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h4 style="font-weight:200;width:100%;">How do you want to log in?</h4>
    </div>
    <div class="input-field col s12 m6">
      <input value="" name="username" type="text" length="30">
      <label class="active" for="username">Username</label>
    </div>
    <div class="input-field col s12 m6" length="30">
      <input value="" name="password" type="password">
      <label class="active" for="password">Password</label>
    </div>
</div>

<div class="row">
<div class="col s12">
    <button class="btn waves-effect waves-light green" type="submit" name="action">Sign up
        <i class="mdi-social-person-add right"></i>
    </button>
</div>
</div>
</form>
{% endblock %}